:root {
  --primary: #111;
  --primary-lighter: #333333;
  --grey: #bbbbbb;
  --green: #00ffa7;
  --white: #fff;
  --dark-secondary: #747474;
}
html[data-theme="white"] {
  --primary: #f2f2f2f2;
  --primary-lighter: #878787;
  --grey: #bbbbbb;
  --green: #00ffa7;
  --white: #000;
  --dark-secondary: #747474;
}
html[data-theme="dark"] {
  --primary: #111;
  --primary-lighter: #333333;
  --grey: #bbbbbb;
  --green: #00ffa7;
  --white: #fff;
  --dark-secondary: #747474;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #000;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header {
  background-color: var(--primary);
  padding: 16px;
}
.text {
  font-size: 40px;
  color: var(--white);
}
.content-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 660px;
}
.filter {
  border: none;
  width: 100%;
  border-radius: 8px;
  background-color: var(--primary-lighter);
  padding: 13px 20px;
  color: var(--grey);
  font-size: 18px;
  line-height: 22px;
}
.main {
  padding: 20px;
  height: calc(100vh - 160px);
}
.card {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 8px;
  display: grid;
  grid-template-rows: 1fr auto;

  &-footer {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    background-color: var(--primary);
    padding: 8px;
    color: var(--green);
  }
  &-body {
    color: var(--white);
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    background-color: #222;
    padding: 35px 29px;
    text-align: center;
  }
}
.list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.toggle {
  cursor: pointer;
  border: none;
  background-color: var(--dark-secondary);
  border-radius: 15px;
  width: 40px;
  padding: 2px;
  transition: 0.2s background-color ease-in-out;
  margin-left: 20px;
  &.active {
    background-color: var(--green);

    .toggle-knob {
      transform: translateX(20px);
    }
  }
  &-knob {
    transition: 0.2s transform ease-in-out;
    background-color: var(--white);
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }
}
.footer {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-size: 16px;
  line-height: 19px;
  color: #bbbbbb;
  background-color: var(--primary);
}
.height {
  color: var(--white);
  font-weight: 700;
}
.box {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.btn{
    background-color: var(--white);
    border: none;
    border-radius: 8px;
    padding: 10px;
    color: var(--primary);
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
}